<div class="container col-sm-12 form-centered">
	<h2> Login </h2>
  	
  	<form [formGroup]="form">
	  	<div class="container form-group col-md-6">
	  		<errors *ngIf="wrongLogin" customError="Login incorrecto."></errors>
	  		<div class="form-row">
		  		<div class="form-group col-md-12">
		  			<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" formControlName="username">
					<errors [field]="formUsername"></errors>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" formControlName="password">
					<errors [field]="formPassword"></errors>
				</div>
			</div>
			<div class="form-row">
		  		<button type="button" class="btn btn-primary btn-block" (click)="login()">Ingresar</button>
		  	</div>
	  	</div>
	  	<loading [loading]="loading" [fullScreen]="true"></loading>
  </form>
</div>
