<div class="container col-md-12">
	<h2> ABM Usuarios </h2>
	<hr>
  	
  	<div class="form-group form-centered">
  		<div class="form-row">
	  		<h3>Alumnos</h3>
	  		<hr>
	  		<div class="col-md-12">
	  			<users-table [loading]="loadingStudents" [users]="students" userType="STUDENT"></users-table>
	  		</div>
	  	</div>

	  	<div class="form-row">
	  		<h3>Docentes</h3>
	  		<hr>
	  		<div class="col-md-12">
	  			<users-table [loading]="loadingTeachers" [users]="teachers" userType="TEACHER"></users-table>
	  		</div>
	  	</div>

	  	<div class="form-row">
	  		<div class="col-md-6 left-col">
		  		<button type="button" class="btn btn-secondary btn-md col-md-6" (click)="backToDashboard()">Volver</button>
		  	</div>
  			<div class="col-md-6 right-col">
		  		<button type="button" class="btn btn-success btn-lg col-lg-6" (click)="openSignUp()">Nuevo usuario</button>
		  	</div>
	  	</div>
  	</div>

</div>
