<div class="container col-md-12">
	<h2 (click)="makeVisible()"> Análisis de Presentismo por Alumno </h2>
	<hr>

	<div *ngIf="visible">
		<div class="form-group">
			<h4>Filtros</h4>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="nameFilter">Apellido:</label>
					<input id="nameFilter" class="form-control col-md-12" type="text" (keyup)="filterByCourseName($event)">
				</div>
				
			</div>
			<div class="form-row">
				<h3>Alumnos</h3>
				<hr>
				<div class="col-md-12">
					<users-table [loading]="loadingStudents" [users]="students" userType="STUDENT" actionLabel="Ver análisis" (onActionClicked)="seePresentism($event)"></users-table>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 left-col">
					<button type="button" class="btn btn-secondary btn-md col-md-6" (click)="backToDashboard()">Volver</button>
				</div>
			</div>
		</div>

		<div id="chart" class="col-md-12">
			<div *ngIf="chartReady" class="col-md-12">
				<p></p>
				<canvas baseChart
					[datasets]="barChartData"
					[labels]="barChartLabels"
					[options]="chartConfig.barChartOptions"
					[legend]="chartConfig.barChartLegend"
					[chartType]="chartConfig.barChartType">
				</canvas>
			</div>
			<!--<div *ngIf="chartReady" class="form-row">
				<div class="col-md-6 right-col pieChartSummary">
					<div>Gráfico de presentismo promedio histórico del curso {{selectedCourse.name}}, turno {{coursesService.getShift(selectedCourse.shift)}}, año {{selectedCourse.year}}</div>
				</div>
				<div class="col-md-6 left-col">
					<canvas baseChart
							[data]="pieChartData"
							[labels]="pieChartLabels"
							[chartType]="pieChartConfig.chartType"
							[options]="pieChartConfig.options"
							[colors]="pieChartConfig.colors"
							[legend]="pieChartConfig.legend">
					</canvas>
				</div>
			</div>-->

			<div *ngIf="!chartReady">
				<p>No hay información para el alumno solicitado.</p>
			</div>
		</div>
	</div>

</div>

