<table class="table table-striped table-bordered">
	<thead class="thead-dark">
		<th scope="col">#</th>
		<th scope="col">Email</th>
		<th scope="col">Nombres</th>
		<th scope="col">Apellido</th>
		<th scope="col">Número de Documento</th>
		<th scope="col">Acción</th>
	</thead>
	<tbody>
		<tr *ngFor="let student of students; index as i">
			<th scope="row">{{i + 1}}</th>
			<td>{{student.contactData.emails}}</td>
			<td>{{student.names}}</td>
			<td>{{student.lastname}}</td>
			<td>{{student.identificationNumber}}</td>
			<td><button type="button" class="btn btn-success btn-md" (click)="executeAction(student)">{{actionLabel}}</button></td>
		</tr>
	</tbody>
</table>
<loading [loading]="loading" [fullScreen]="false"></loading>
