/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
}

.form-centered {
	text-align: center;
}

h6.header {
	color: #a2b9bc
}

hr {
	margin-top: 0px;
}

label {
	font-style: italic;
	font-family: sans-serif;
}

.form-row > button {
	margin-top: 10px !important;
	margin-left: 2.5px !important;
	margin-right: 2.5px !important;
}

.right-col {
	text-align: right;
}

.left-col {
	text-align: left;
}

label {
	text-align: left !important;
}

.mat-dialog-content {
  overflow: initial !important;
}
